:root {
  --text-xs: 0.8rem;
  --text-sm: 0.9rem;
  --text-md: 1rem;
  --color-accent: #f9a9d4;
  --color-border: #333333;
  --color-bg: #101010;
  --color-bg-soft: #242424;
  --color-bg-softer: #181818;
  --color-text: #ffffff;
  --color-text-soft: #9e9e9e;
  --color-text-softer: #808080;
  --focus-ring-width: 2px;
  --focus-ring-color: #f9a9d4;
  --focus-ring-style: dotted;
  --focus-ring-offset: 0;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
